.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.paper-font {
  font-family: 'Titillium Web', sans-serif;
}

.chapter-font {
  font-family: 'Aboreto', cursive;
}

.bg-beige {
  background-color: #e9d3c0;
}

.bg-blue {
  background-color: #528aae;
}

.bg-light-blue {
  background-color: #a6c8dd;
}

.text-serif {
  font-family: 'Lora', serif;
}

.text-sans {
  font-family: 'Open Sans', sans-serif;
}

.text-white {
  color: #ffffff;
}

.btn-small-text {
  font-size: 0.8em!important;
}

.btn-medium-text {
  font-size: 1em!important;
}

.btn-large-text {
  font-size: 1.2em!important;
}

.small-text {
  font-size: 0.8em!important;
}

.medium-text {
  font-size: 1em!important;
}

.large-text {
  font-size: 1.2em!important;
}

.gap {
  gap:20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
